/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #e0861f;
}
/* Navigation styles */
#navbar {
  background-color: #db9410;
  padding: 1rem;
  display: flex;
  text-align: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other content */
}

#navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  
}

#navbar a:hover {
  text-decoration: underline;
}
/* Welcome section */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0;
}